Repository AlekseyChepurko/movie-list: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["eslint --cache"],
	"{*.json,.{babelrc,eslintrc,prettierrc,stylelintrc}}": ["prettier --ignore-path .eslintignore --parser json --write"],
	"*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
	"*.{html,md,yml}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

added loading atom
  src/ui/atoms/loading/index.ts
  src/ui/atoms/loading/loading.styled.ts
Due: eslint --cache

updated docs
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

added error view
  src/ui/organisms/error/error.organism.view.tsx
  src/ui/organisms/error/error.organsim.styled.ts
  src/ui/organisms/error/index.ts
Due: eslint --cache

downgraded husky version
  package-lock.json
  package.json
Due: prettier --ignore-path .eslintignore --parser json --write

added movieCard organism
  src/ui/organisms/movieCard/index.ts
  src/ui/organisms/movieCard/movieCard.organism.styled.ts
  src/ui/organisms/movieCard/movieCard.organism.view.tsx
Due: eslint --cache

added filter component wrapper organism
  src/ui/organisms/filter/filter.organism.view.tsx
  src/ui/organisms/filter/index.ts
Due: eslint --cache

added base DataClient service interface and implementation for httpClientService
  src/services/dataClient.service.ts
  src/services/httpClient.service.ts
Due: eslint --cache

added LiveData util
  src/utils/liveData/index.ts
  src/utils/liveData/liveData.util.ts
Due: eslint --cache

added .eslintcache file to ognore
  .gitignore
Due: none

added nullableType and partialArray codecs
  src/utils/io-ts/index.ts
  src/utils/io-ts/nullable.codec.ts
  src/utils/io-ts/partialArray.codec.ts
Due: eslint --cache

added remoteData utils
  src/utils/remoteData/index.ts
  src/utils/remoteData/remoteData.util.ts
Due: eslint --cache

added media query helper for styled components
  src/utils/styles/media/index.ts
  src/utils/styles/media/media.styles.helper.ts
Due: eslint --cache

added useObservable hook
  src/utils/useObservable/index.ts
  src/utils/useObservable/useObservable.utils.ts
Due: eslint --cache

added validation codecs for movie and movieList
  src/codecs/movie/index.ts
  src/codecs/movie/movie.codec.ts
  src/codecs/movieList/index.ts
  src/codecs/movieList/movieLst.codec.ts
Due: eslint --cache

fixed missed import for liveData
  src/utils/liveData/liveData.util.ts
Due: eslint --cache

added movieImage codec
  src/codecs/movieImage/index.ts
  src/codecs/movieImage/movieImage.codec.ts
Due: eslint --cache

added moviesList controller
  src/controllers/moviesList/index.ts
  src/controllers/moviesList/moviesList.controller.ts
Due: eslint --cache

added movieImage controller
  src/controllers/movieImage/index.ts
  src/controllers/movieImage/movieImage.controller.ts
Due: eslint --cache

added domain typings for Movie and ApiResonses
  src/domain/apiResonse/apiResponse.domain.types.ts
  src/domain/apiResonse/index.ts
  src/domain/movie/index.ts
  src/domain/movie/movie.domain.types.ts
Due: eslint --cache

added trigger stream helper
  src/utils/streams/trigger/index.ts
  src/utils/streams/trigger/trigger.stream.helper.ts
Due: eslint --cache

added routes pathes
  craco.config.js
  paths.json
  src/routes/index.ts
  src/routes/routes.ts
Due: eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added movie list feature
  src/features/movieList/index.ts
  src/features/movieList/movieList.feature.container.ts
  src/features/movieList/movieList.feature.styled.ts
  src/features/movieList/movieList.feature.view.tsx
  src/features/movieList/moviesList.feature.view-model.ts
Due: eslint --cache

added main page container
  src/pages/main/index.ts
  src/pages/main/main.page.tsx
Due: eslint --cache

added youtube video search codec
  src/codecs/youtube/index.ts
  src/codecs/youtube/youtube.video-search.codec.ts
Due: eslint --cache

added youtube video search controller
  src/controllers/youtubeSearchVideo/index.ts
  src/controllers/youtubeSearchVideo/youtubeSearchVideo.controller.ts
Due: eslint --cache

added movie organism
  src/ui/organisms/movie/index.ts
  src/ui/organisms/movie/movie.organism.view.tsx
  src/ui/organisms/moviePoster/index.ts
  src/ui/organisms/moviePoster/moviePoster.organism.styled.ts
  src/ui/organisms/moviePoster/moviePoster.organism.view.tsx
Due: eslint --cache

added movie feature
  src/features/movie/index.ts
  src/features/movie/movie.feature.container.ts
  src/features/movie/movie.feature.styled.ts
  src/features/movie/movie.feature.view-model.ts
  src/features/movie/movie.feature.view.tsx
Due: eslint --cache

fixed typos
  src/utils/io-ts/index.ts
Due: eslint --cache

added movie page container
  src/pages/movie/index.ts
  src/pages/movie/movie.page.styled.ts
  src/pages/movie/movie.page.tsx
  src/routes/index.ts
Due: eslint --cache

added defenition of needed env api keys
  .env.json
  craco.config.js
  package-lock.json
  package.json
Due: eslint --cache, prettier --ignore-path .eslintignore --parser json --write

added description for API keys
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

composition of main and movie page containers with appropriate routing and layout styling
  src/App.css
  src/App.styled.ts
  src/App.tsx
Due: eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

provided all DI dependencies to the AppContainer
  src/index.css
  src/index.tsx
Due: eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

updated preparation section of readme
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

added no-available image
  public/no-image.png
  src/features/movie/movie.feature.view-model.ts
  src/features/movieList/moviesList.feature.view-model.ts
Due: eslint --cache

changed youtube search query to include releaseYear
  src/features/movie/movie.feature.view-model.ts
Due: eslint --cache

demo video added
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write
